.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #222;
    color: #fff;
}

.menu-btn {
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 1.5em;
    margin-left: 0px;
}

.search-bar {
    padding: 5px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-btn {
    display: flex;
    align-items: center;

}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.links {
    display: flex;
    justify-content: end;
    margin-left: 60vw;
}

.icon-button {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-left: 10px;
}

.messenger {

}