p{
    font-size:1.5vh ;
}
.VHOD {
    background-color: rgb(221, 223, 235);
    width:75vw;
    height: 74vh;/* Use 100% to make it responsive */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.VHOD img{
    width: 65%;
    height: 75%;
    position: relative; /* Use 100% to make it responsive */
    left:4vw;
    top:5%; /* Maintain aspect ratio */
}

.VHOD p.text {
    font-size: 2em;
    text-align: center; /* Center the text */
}
.VHOD form {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack the form fields vertically */
    align-items: center; /* Center the form fields */
    justify-content: center;
    position: relative;
    margin-top: 3%;
    width: 40vw;
}
.VHOD .l{
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}
.VHOD form input[type="text"],
.VHOD form input[type="email"],
.VHOD form input[type="password"] {
    width: 100%; /* Use 100% to make it responsive */
    height: 5vh;
    padding: 10px; /* Add some padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-size: 1.5em;
    margin-top: 4%;
}
.VHOD .knopki {
   background-color: rgb(60, 90, 92);
       color: white;
       border-radius: 10px;
       text-decoration: none;
       font-size: 1.5em;
       cursor: pointer;
       margin-top: 5%;
       position: relative;
}
.VHOD .knopki :hover {
    background-color: rgb(80, 110, 112);
    text-decoration: underline;  
}
@media (max-width:767px) {
    .VHOD {
        background-color: rgb(221, 223, 235);
        width: 80vw; /* Use 100% to make it responsive */
        height: 90vh;
        position: relative;
        top: 9vh;
        box-sizing: border-box; /* Include padding and border in element's total width and height */
    }

    .VHOD img {
        width: 70vw;
        height: auto;
        position: relative; /* Use 100% to make it responsive */
        left: 3vw;
        top: 0vh; /* Maintain aspect ratio */
    }

    .VHOD p.text {
        font-size: 1.3em;
        text-align: center; /* Center the text */
    }

    .voiti {
        position: relative;
        left: 15vw;
    }
    .VHOD form input[type="text"],
    .VHOD form input[type="email"],
    .VHOD form input[type="password"] {
      width: 65vw;
    }
}