.sidebar {
    background-color: #333;
    color: white;
    transition: width 0.3s;
}

.sidebar.closed {
    width: max-content;
}

.sidebar.open {
    width: max-content;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 32px;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.sidebar-item span {
    margin-left: 10px;
}

.sidebar-item:hover {
    background-color: #444;
}

.sidebar-item.active {
    background-color: #555;
}
